
.nav {
    /*grid-area: n;*/
    /*background-color: darkseagreen;*/
    /*padding: 10px;*/
    flex: 0 0 16%;
    background-color: var(--lightGreen);
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 2px 0px 2px 0px rgba(189, 189, 189, 1);
    -moz-box-shadow: 2px 0px 2px 0px rgba(189, 189, 189, 1);
    box-shadow: 2px 0px 2px 0px rgba(189, 189, 189, 1);
}


.item {
    display: flex;
    justify-content: flex-start;
}

.item:hover {
    background-color: var(--white);
    font-weight: bold;

}

.item a {
    color: var(--primery);
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
}

.item a.active {
    font-weight: bold;
}

.item_value {
    margin-left: 0.5rem;
}

.navLink {
    display: flex;
    flex: 0 0 100%;
    padding: 1rem;
}