@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import "./src/components/common/variables";
@import "./src/components/common/mixin";

html {

  height: 100%;
  font-family: 'Inter', sans-serif;
}

body {
  height: 100%;
  box-sizing: border-box;
}

#root {
  height: 100%;
}


.wrapper {
  height: 100%;
  position: relative;

  .header {
    background-color: $navBarPrimary;
    height: 60px;
    width: 100%;
  }

  .container {
    background-color: $backgroundColorPrimary;
    display: flex;
    min-height: calc(100vh - 60px);
    width: 100%;
    position: absolute;
    top: 60px;

    .app_wrapper_content {
      display: flex;
      width: inherit;
      height: inherit;
      justify-content: center;
      align-items: center;

      .app_content {
        width: 87%;
        min-height: 90%;
        border-radius: 8px;
        @include boxShadowDelay();
        margin: 2.5rem 0;
        display: flex;
        justify-content: center;

        .error_content {
          height: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
        }

      }
    }

  }
}

//.main_container {
//    display: flex;
//    flex-direction: column;
//}
//
//
//
//
//.app-wrapper-content {
//    background-color: darkorchid;
//    background-color: var(--iq-light);
//    margin-left: 0.13rem;
//    flex: 1;
//    height: 100%;
//}
//
//
//

