$navBarPrimary: #615dfa;
$navBarSecondary: #5854ef;
$backgroundColorPrimary: #fafafb;
$backgroundColorSecondary: #fff;



$textColorPrimary: #9e9faf;
$textColorSecondary: #111111;
$textColorTertiary: rgba(255, 255, 255, .7);

$iconColorPrimary:#8793a3;
$iconColorSecondary:#5edfff;
$iconColorTertiary:#3f51b5;



$textColorHigh: #007bff;
$backgroundColorHigh: rgba(0, 123, 255, .1);

$textColorMiddle:#28a745;
$backgroundColorMiddle:rgba(40, 167, 69, .1);
$backgroundColorLow:#dc3545;
