
.dropdown_toggle {
  background-color: transparent;
  border: none;

  &:focus {
    outline: none;
  }

  .media {
    display: flex;
    justify-content: center;
    align-items: center;
    .item_img {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 2px;

      .userPhoto {
        width: 40px;
        border-radius: 50%;
        vertical-align: middle;
        cursor: pointer;
      }

      .acc_verified {
        right: -3px;
        top: -8px;
        position: absolute;

        img {
          width: 18px;
        }
      }
    }

    .media_body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 0;
      color: white;
      font-weight: 400;
      font-size: 16px;
      margin-left: 8px;
      text-decoration: underline;
    }
  }
}
